.home {
  column-gap: 10px;
  display: grid;
  padding: 10px;
  row-gap: 10px;
}

@media (min-width: 768px) {
  .home {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) { 
  .home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
